.App {
  text-align: center;
  background-color: #00008B;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.big {
  font-size: 1.5rem;
}

.whitepad {
  width: 50%;
  height: 50%;
  background-color: #fff;
  border-radius: 1rem;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
}

.keyboard {
  width: 100%;
}

.typeBox {
  padding: 0.5rem;
  text-align: center;
  width: 40%;
  outline: 0;
  border-radius: 0.25rem;
}

.typeBox:focus {
  outline: 0;
}

.resetBtn {
  padding: 0.5rem;
  background-color: rgb(235, 45, 108);
  color: #fff;
  width: 10%;
  border-color: rgb(235, 45, 108);
  outline: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}